html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* this is style*/
 

body {
  font-family: Helvetica;
  font-size: 1.2rem;
  text-align: center;
  
  opacity: 0.9;
  font-size: 1rem;
  text-orientation: horizontal;
  margin:0;


}
a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

header {
  width: 100%;
  position: fixed;
 
  height: 4rem;
  background-color:rgb(240, 237, 245);

  /*align-items: center;*/


}

.container{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: .01rem solid black;
  align-items: center;
  background-color: rgb(240, 237, 245);
 

 }
 .container .prova {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width:auto;
  margin-left: 1.5rem;
 }



.prova h4 {
  font-size: 1.5rem;
  

}

 .prova h4 span {
     font-weight: bold;
}


nav {
  
  text-align: right;
  flex-grow: 1;
  margin-right: 1.5rem;
   height: 2rem;
   align-items: center;
   justify-content: center;
   
}

nav span {
  
  padding: 0px .5rem;
  font-size: 1.2rem;
  color: black;

 } 

 .banner {
  display: flex;
  
  background-color: rgb(198, 201, 195);
 }
 
 .column1 {
  display:flex;
    flex-direction: column;
    margin:4rem 1.5rem;
  
 }
 .two {
  display:flex;

  flex-direction: column;

 }
.first.column1{
  width:60%;
  margin-left: 1.5rem;
  margin-right: 
 }
 .imgbanner img { 
  width:100%;
 
 }
 
 
 .two.column1 {
  width:40%;
  margin-left: .2rem;
  /*align-items: center;*/
  justify-content: center;
  text-align: left;
 }
 


 .banner .two .h2 {
  
 
  margin-left: 1.5rem;

 }

 .h2 h2 {
     font-size: 2rem;
     font-weight: bold;
 }

 .h2 p {
     margin-top: 1rem;
     margin-bottom: 1rem;
 }
 .box {
   padding:.5rem 1rem;
   background-color: black;
   color: white;
   text-align: center;
   width:70%;
 }

.second{
  display:flex;
  background-color: rgb(231, 240, 225);
  
 
 }


.lessons {
  background: rgb(198, 201, 195);
}

.column {
  display: flex;
  flex-direction: column;
}

.inform.column {
   width: 60%;
   margin: 2rem 1.5rem;
  
 
}
.inform.column img {
  width: 100%;
  


}
.text {
  width: 100%;
  text-align: left;
  margin-top: 2rem;
}

.text p {
  margin-top : 1.5rem;
}
.text h5 {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.text h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;

}

.text2{
  width:60%;
}

.information.column{ 
  margin-left: 1.5rem;
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.information.info img{
  width:35%;


}

.info {
  display: flex;

}

.info .time {
   display: flex;
   justify-content: center;
   flex-direction: column;
  text-align: left;
  margin-left: 1rem;

  }

  /*.time {
    width: 100%
  }*/

.info .time h3 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.info .time p {
  font-size: .9rem;
  margin-bottom: 1rem;
}




.boxes {
  display: flex;
  margin: 1rem .8px;
}
.boxes img{
  width: 35%;
}



.third {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(198, 201, 195);
  
}
.title2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;

}

 
.learning {
  display:flex;
  justify-content:center;
  /*align-content: center;*/
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: 4rem;
  margin-right: 2.5rem;

}
.software img {
  background-color: rgb(255,255,255);
  width: 100%;
  margin: 1rem 1rem;
  }
  .text4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .text4 h2,h2,p,p {
    margin-top: .5rem;
  }  
  .text4 p {
    font-size: .9rem;
  }
  h2.h2style {
    font-weight: bold;

  }

  .text4 h2{
    font-size: 1.2rem
  }

.study {

  background-color: rgb(255,255,255);
  width: 30%;
  margin-bottom: 2rem;
  margin-right: 2rem;
  box-shadow: 0 2px 4px 0 grey;
}
.study img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  
}
.fourth {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 240, 225);
}

.title{
  
  
  text-align: center;
  vertical-align: center;
}
h1.title6{
  font-size: 1.5rem;
  font-weight: bold;
}

.both {
  display: flex;
  justify-content: center;

}

.reserch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:60%;
  
}
.reserch video {
  width:100%;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
}
.test {
   display: flex;
  flex-direction: column;
  width:40%;
  margin-top: 2rem;

}
.text2 h3{

  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
.text2 p{
  font.size: 1.3rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.test .boxes2 {
   display: flex;
   justify-content: center;
   margin-left: 2rem;

  
}
.finale{

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.finale h1 {
  font-size: 1.1rem;
  font-weight: bold;
}
.finale p {
  font-size: .9rem;
}

.colored {
  background: rgb(198, 201, 195);
 }

.test .boxes2 img {
  width: 35%;
 margin: 1rem;
}

.title6 {
  margin-top: 2.25rem;
  margin-bottom: 0rem;

}

/*.boxes2 .finale {
  text-align: left;
  margin-left: 1rem;
}*/
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-top:1rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  background-color: rgb(198, 201, 195);


}
.copyright, footer a {
  font-size: 0.75rem;
}

.links a {
  margin-right: 1.5rem;
}


.text2 {
  text-align: left;
  
}
.finale {
  display:flex;
  justify-content: ;
  flex-direction: column;
  width: 65%;
  text-align: left;
  margin-left: 1rem;
 
 
}

.text2 {
   display:flex;
  justify-content: ;
  flex-direction: column;
  width: 65%;
  text-align: left;
  margin-left: 1rem;

}


/* media */

@media only screen and (max-width:620px){

  .container .prova, div.study, .test .boxes2, div .text2, .links, div.inform, div.time, div.boxes{
    display:none;
  }

 

  .container nav, div.first, div.two, .banner, section.second, section.third, .container, .fourth{
    display: none;
  }
 html,body {
  overflow-x: hidden;
 }
  
  .mobile {
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 0rem 0rem;
   margin-right: 0rem;
 }
 .mobile2 {
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 0rem 0rem;
   
 }

 
 .studies {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
 }
 .studies li {
  background: rgb(180, 179, 181);
  width: 90%;
  margin: 0.5rem;
  padding: 1rem;

 }
 .boxes1 {
  display:flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  margin:1rem;
   
 }

 .mobile3 .boxes1 img {
  width: 100%;

 }
 .time1 {
  width: 100%;
  margin-bottom: 2rem;
 }
 .time1 h2 {
  font-weight: bold;
 }

 .time1 p {
  font-size: .9rem
 }
 .time1 p, h2 {
  line-height: 1.5rem;
 }

 .time1 h3, p {
  margin-left: 0rem;
  
 }
 .banner1 {

  display:flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%
   height:auto;
   
 }
 .banner1 img {
   width: 100%;
  
   background-color: rgb(198, 201, 195); 
 }
 .mobfirst {
  display: flex;

 }

 .mobh {
  text-align: left;
 }

 .mobh h1 {
  font-size: 1.5rem;
  font-weight: bold; 
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
 }
 .mobh p {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
 }
  .mobbox {
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 90%;
    background: rgb(198, 201, 195); 
    margin-bottom: 2rem;
  }
  .time1 {
    text-align: left;
    
    margin-left: 1rem;
  }

 .mobile .mobile2 {
  height: 4rem;
  align-items: center;
 }

 .ultimo {
  display:flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%
   /*height:auto;*/

 }
.ultimo .mobtitle2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.learning1 {
  width: 90%;
}


.studies li {
  margin: 1rem;
}
 .time1{
  display:flex;
  justify-content: center;
  flex-direction: column;
 }
  .mobile3 {
   display: flex;
   justify-content: center;
   flex-direction: column;
  width: 100%
   padding: 0rem 0rem;
   margin-right: 0rem;
    
 }

 .reserch1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
 }

.title7 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;

 }

  video {
        width: 100%
       
   }

   .reserch1 {
    margin-bottom: 1.5rem;
   }

   footer{
    background-color: transparent;
    
   }
  p.para {
    margin-bottom: 1rem;
  }
   
}

 @media only screen and (min-width:620px){
  ul.mobile2, ul.studies, div.smallinfo, .mobile3, .mobile, .media1, .title7 {
    display: none;
  }
  }

   }